@model IEnumerable<GOClubs.Models.NameAddress>

@{
    ViewData["Title"] = "Index";
}

<h1>Name & Address Records on file </h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NameAddressId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName), @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <th>
                @Html.DisplayFor(modelItem => item.NameAddressId)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName), @Html.DisplayFor(modelItem => item.LastName)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.NameAddressId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.NameAddressId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.NameAddressId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
